<h1>Edit Monthly Consumption</h1>

<%= render "form", monthly_consumption: @monthly_consumption %>

<%= link_to "Back to Monthly Consumptions", customer_monthly_consumptions_path(@monthly_consumption.customer) %>
